body {
  background-color: #8476b4;
  text-align: center;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
}

ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
}

.container {
  background-image: url("images/Frame.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 550px;
  margin-top: 30px;
  padding: 100px;
}
