body {
  background-color: #8476b4;
  text-align: center;
}

h1,
h2,
.main-temp {
  font-family: "Permanent Marker", cursive;
}
h1 {
  margin-top: -5px;
  font-size: 45px;
}
h2 {
  font-size: 25px;
}

ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
}

small {
  font-size: small;
  position: relative;
  top: 3px;
}
.container {
  background-image: url("images/Frame.png");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 550px;
  margin-top: -5px;
  padding: 161px;
}

.main-emoji {
  font-size: 50px;
  position: relative;
  top: -4px;
  left: 73px;
}

.main-temp strong {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
  margin-left: 25px;
}

.min-max-temp,
.extra-values {
  padding: 10px;
}

.min-max-temp:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}

.wind {
  position: relative;
  top: -4px;
  left: 44px;
}
.wind:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}

.humidity {
  position: relative;
  top: -4px;
  left: 27px;
  text-align: center;
}

.humidity:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}
.go-button,
.locate-me-button {
  border-radius: 200px;
  border-color: #ecc121;
}

.locate-me-button {
  margin-top: 10px;
}

.search-box {
  border-radius: 40px;
  border-color: #ecc121;
}

.code-link {
  color: #ecc121;
}
