body {
  background-color: #8476b4;
  text-align: center;
  background-image: url("images/Frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}

h1,
h2,
.main-temp {
  font-family: "Permanent Marker", cursive;
}
h1 {
  margin-top: 3px;
  font-size: 29px;
}
h2 {
  font-size: 25px;
}

ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
}

small {
  font-size: small;
  position: relative;
  top: 17px;
}
.container {
  max-width: 550px;
  margin-top: -5px;
  padding: 130px 130px 0 130px;
}

.main-emoji {
  max-width: 120px;
  position: relative;
  top: -4px;
  left: 5px;
  padding: 0;
}
.main-temp {
  margin-top: 20px;
  margin-left: 35px;
}

.main-temp strong {
  font-size: 50px;
  font-weight: lighter;
}

.min-max-temp,
.extra-values {
  padding: 10px;
}

.min-max-temp {
  margin-top: -17px;
}
.min-max-temp:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}

.extra-values {
  margin-top: 5px;
}
.wind {
  position: relative;
  top: -4px;
  left: 44px;
}
.wind:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}

.humidity {
  position: relative;
  top: -4px;
  left: 27px;
  text-align: center;
}

.humidity:hover {
  background-color: rgba(236, 193, 33, 0.8);
  border-radius: 4px;
}
.go-button,
.locate-me-button {
  border-radius: 200px;
  border-color: #ecc121;
}

.locate-me-button {
  margin-top: 10px;
}

.search-box {
  border-radius: 40px;
  border-color: #ecc121;
}

.code-link {
  color: #ecc121;
}

.duck {
  max-width: 250px;
  position: relative;
  top: -104px;
  left: 529px;
}

.coder {
  position: relative;
  top: -85px;
  left: 326px;
}

.coder-name {
  position: relative;
  top: -61px;
  left: 215px;
}
